.layout__container {
  min-height: 100dvh;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("@assets/images/bg-landing.png"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
